name: Deploy static HTML to Azure Web App - servicio-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4D881AA566FD4BC9B97582C2DF7F5912 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_ACD7B691D7BE40D28E43AA7FA819AEA9 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_38EDC82E05714A08813F7EB7FC14B732 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'servicio-app'
          slot-name: 'Production'
          package: .
